@media (max-width: 50rem) {
    .gallery-03-cols {
      align-self: auto;
    }
   
    .main-nav-link-3:link
     {
      display: block;
      width: auto;
      order: 1;
      font-size: 1rem;
    }
   
    .main-nav-list {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
    .heading-primary {
      font-size: 0.6rem;
      line-height: 1.05;
    }
   
    .img-f {
      height: 5rem;
      width: 5rem;
    }
   
    .img-small-2,
    .img-small,
    .img-small-3 {
      height: 3rem;
      width: 3rem;
    }
    .name,
    .name-small {
      font-size: xx-small;
    }
    .heading-secondary {
      font-size: 2rem;
    }
   
    .gallery-03-cols {
      grid-template-columns: repeat(3, 1fr);
      row-gap: 2rem;
    }
    .gallery-05-cols{
      grid-template-columns: repeat(3, 1fr);
      row-gap: 2rem;
    }
    .bg1{
      height: 500px;
    }
    .bg2{
      height: 700px;
    }
    .PRESENT-NEWS-heading{
      font-size: 2.8rem;
    line-height: 2;
    }
    nav ul{
      width: 100%;
      background: linear-gradient(to right,rgb(138, 136, 136),rgb(56, 55, 55));
      position: absolute;
      top: 10rem;
      right: 0;
      z-index: 2;
      display: none;
      padding-right: 5rem;
    }
    nav ul li{
      display: block;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    nav ul li a{
      color: black;
    }
    .menulist{
      display: block;
    }
    .menulist{
      height: 3rem;
      
    }


    .news1{
      display: flex;
      flex-direction: column;
      margin-bottom: 5rem;
    }
    .news2{
      display: flex;
      flex-direction:column;
      margin-bottom: 5rem;
    
    }  
    .image
    {
      height: 20rem;
      width: 20rem;
      margin-left: 10rem;
    }
    .content1 {
      font-size: 2rem;
      margin-right: 7rem;
      margin-left: 2rem;

    }
    .content2{
    font-size: 2rem;
    margin-left:7rem;
    margin-right: 2rem;
    }
    .content1 p{
      font-size: 1.8rem;
    }
    .content2 p{
      font-size: 1.8rem;
    }

  }
    
  @media (max-width: 30rem) {
    .heading-primary{
      color: aqua;
      font-size: 0.5rem;
      line-height: 0.8;
      text-shadow: 2px 3px 3px rgb(226, 222, 106);
      
    }
    .bg1{
      height: 450px;
    }

    .bg2{
      height: 700px;
    }
    
    .PRESENT-NEWS-heading 
    {
      font-size: 1rem;
      line-height: 4;
    }
    .faculty-heading 
    {
      font-size: 1.6rem;
      line-height: 2;
      color: #f100ff;
      background-color: #010101;
      text-shadow: 4px 2px 5px rgb(218 109 188);
    }
    .student-heading 
    {
      font-size: 1.6rem;
      line-height: 3;  
    }

    .img-stu{
      height: 7rem;
      width: 7rem;
    }
    .gallery-02-cols 
    {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    .bg3{
      height: 450px;
    }
    .waviy span {
      position: relative;
      display:flex;
      flex-direction: column;
      
      font-size: 80%;
      color: rgb(255, 255, 255);
      text-transform: uppercase;
      animation: flip 2s infinite;
      animation-delay: calc(.2s * var(--i))
    }
    @keyframes flip {
      0%,80% {
        transform: rotateX(360deg) 
      }
    }
   
    
    .news1{
      display: flex;
      flex-direction: column;
      margin-bottom: 5rem;
    }
    .news2{
      display: flex;
      flex-direction:column;
      margin-bottom: 5rem;
    
    }  
    .image {
      height: 25rem;
      width: 25rem;
      margin-left: 7rem;
  }
    .content1 {
      font-size: 2rem;
      margin-right: 7rem;
      margin-left: 2rem;

    }
    .content2{
    font-size: 2rem;
    margin-left:7rem;
    margin-right: 3rem;
    }
    .content1 p{
      font-size: 1.8rem;
    }
    .content2 p{
      font-size: 1.8rem;
    }
     .logo-1{
      height: 4rem;
    }
  }
